@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide navbar/footer on portal pages */
.hide-on-portal.portal-page {
  display: none;
}

/* Basic body reset */
html,
body {
  margin: 0;
  padding: 0;
}
